/*通用样式*/
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	font: 14px/1.5 "Microsoft Yahei",Helvetica,Arial,sans-serif;;
}
ul,ol,li{
	list-style:none;
}
.clearfix:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.container{
	width: 1205px;
	margin: 0 auto;
	position: relative;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.icon{
	display: inline-block;
	background: url('../images/icon.png') no-repeat;
}

/*顶部通知条*/
.top-notify{
	width: 100%;
	height: 36px;
	background: #f3f3f3;
}
.top-notify p{
	color: #333;
	font-size: 12px;
	line-height: 36px;
}
.top-notify p:first-child{
	float: left;
}
.top-notify p:first-child a{
	color: #21a557;
	text-decoration: none;
}
.top-notify p:first-child a:hover{
	text-decoration: underline;
}
.top-notify p:last-child{
	float: right;
	line-height: 8px;
}
.top-notify p:last-child a{
	width: 10px;
	height: 10px;
	margin-right: 5px;
	margin-top: 13px;
	background-position: 0px -50px;
	text-indent: -9999px;
}

/*页面头部*/
.g-header{
	width: 100%;
	padding: 35px 0;
}
.g-header .logo{
	float: left;
	margin: 0;
}
.g-header .logo a{
	display: block;
	width: 234px;
	height: 22px;
	background: url('../images/h-logo.png') no-repeat;
	text-indent: -9999px;
}
.g-header .follow-btn{
	margin: 0px 20px 0px 30px;
	padding: 5px 8px;
	border:0;
	outline: 0;
	border-radius: 2px;
	background: #21a557;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}
.g-header .follow-btn .icon-plus{
	width: 8px;
	height: 8px;
	margin-right: 5px;
	background-position: -15px -50px;
}
.g-header .follow-btn:hover{
	background: #2fb556;
}
.g-header .fans{
	color: #666;
	font-size:12px;
}
.g-header .fans em{
	font-style: normal;
	margin-left: 5px;
}
.g-header .link {
	float: left;
}
.g-header .link li{
	float: left;
	padding: 0 25px;
}
.g-header .link li a{
	font-size: 16px;
	color: #666;
	text-decoration: none;
}
.g-header .link li a:hover{
	color: #39a030;
}
.g-header .search-form{
	float: left;
}
.g-header .search-btn{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: -43px -50px;
	border:0;
	outline: 0;
	text-indent: -9999px;
	cursor: pointer;
}
.g-header .search-btn:hover{
	background-position: -66px -50px;
}

/*页面底部*/
.g-footer{
	width: 100%;
	margin-top: 40px;
	padding: 80px 0;
	background-color: #2c3339;
}
.g-footer .copyright{
	margin-left: 50px;
	margin-right: 150px;
}
.g-footer .copyright .logo a{
	display: block;
	width: 234px;
	height: 22px;
	background: url('../images/f-logo.png') no-repeat;
	text-indent: -9999px;
}
.g-footer .copyright p{
	color: #bebfc0;
	font-size: 13px;
	line-height: 25px;
}
.g-footer .link-list {
	float: left;
	margin-right: 100px;
	color: #bebfc0;
}
.g-footer .link-list .list-title{
	font-size: 13px;
} 
.g-footer .link-list li{
	margin-bottom: 10px;
}
.g-footer .link-list li a{
	font-size: 15px;
	color: #bebfc0;
	text-decoration: none;
}
.g-footer .link-list li a:hover{
	text-decoration: underline;
}
.g-footer .link-list .icon-sina{
	width: 20px;
	height: 16px;
	margin-left: 10px;
	background-position: -141px -50px;
}


/*右侧模块*/
.panel{
	margin-bottom: 20px;
	width: 100%;
	background: #fff;
	color: #333;
	border-top: 0;
	box-shadow: 0px 1px 1px rgba(0,0,0,.2);
	border: 1px solid #ecebeb\9;
}
.panel .panel-title{
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #dddddd;
}
.panel .panel-title h3{
	font-size: 16px;
	font-weight: normal;
}
.panel .panel-content{
	padding: 20px;
	box-sizing: border-box;
}

/*模态框*/
.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);
	text-align: center;
	display: none;
}
.modal .modal-container{
	position: relative;
	display: inline-block;
	padding: 30px;
	background: #fff;
	text-align: left;
}
.modal .modal-container .modal-close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 10px;
	height: 10px;
	border: 0;
	outline: 0;
	background-position: 0px -50px;
	text-indent: -9999px;
	cursor: pointer;
}
.modal .modal-title{
	font-size: 18px;
	margin-bottom: 20px;
	color: #333;
}

/*登录模态框*/
.login-form{
	width: 300px;
}
.login-form .form-group{
	width: 100%;
	margin-bottom: 15px;
}
.login-form .form-group input{
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	border: 1px solid #dfdfdf;
	background: #fafafa;
	box-sizing: border-box;
	padding: 0px 10px;
	color: #666;
	outline-color: #2cb150;
	box-shadow: 0px 0px 2px rgba(0,0,0,.2) inset;
}
.login-form .form-group button{
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	outline: 0;
	background-image:-webkit-linear-gradient(to bottom, #2cb150, #159530);
	background-image:-o-linear-gradient(to bottom, #2cb150, #159530);
	background-image:linear-gradient(to bottom, #2cb150, #159530);
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}
.login-form .login-error{
	color: #ff3f00;
}